{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('blog_index') }}">
        Back to homepage.
    </a>
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
    <hr>
    <a href="{{ path('blog_show', { 'slug': "javascript-meme" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
    <hr>

    <a href="{{ path('blog_show', { 'slug': "rose" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
    <hr>

    <a href="{{ path('blog_index') }}">
        Testing index() method from BlogController to view all articles.
    </a>
{% endblock %}